@import "../../../Css/base/variable.css";
.dashboard {
  min-height: 100vh;
  background-color: #f7f8fa;
}
th,
td,
.bg-input-control {
  background: #f4f2ff !important;
  color: #555 !important;
}
.bg-control {
  background-color: var(--bg);
}
.bg-input-control {

}
