@import "../../Css/base/variable.css";
.top-bar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ecf2fe;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0 20px;
}
.side-bar {
  top: 70px;
  background-color: #ecf2fe;
  height: 100vh;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 0 5px;
}
.side-bar-link {
  color: #495057;
  font-size: 18px;
  transition: 0.3s;
  margin: 0 8px;
}
.side-bar .active:hover {
  color: var(--blue);
}
.side-bar .active {
  background-color: #f2f3fe;
  color: var(--blue);
}
.side-bar-link:hover {
  color: black;
}
a {
  text-decoration: none;
}
