.form {
  background-image: linear-gradient(
      120deg,
      #fff 0%,
      rgba(255, 255, 255, 0.778) 60%,
      transparent 80%
    ),
    url("../../../Css/assets/images/sky.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40rem;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0 0 21px 9px rgba(0, 0, 0, 0.2);
}

.custome-form {
  width: 50%;
  max-width: 500px;
  color: #aa502f;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-custom {
  margin-bottom: 20px;
  position: relative;
}

.form-custom label,
.form-custom input {
  display: block;
}

.form-custom input {
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: 0;
  background-color: white;
  width: 100%;
  font-size: 15px;
  border-bottom: 3px solid rgb(192, 189, 189);
  font-family: "Sue Ellen Francisco", cursive;
  box-shadow: 0px 0px 10px gray inset;
}
.form-custom input:focus {
    box-shadow: 0px 0px 10px gray inset;
}
.form-custom input:focus:valid {
  border-bottom: 3px solid green;
}

.form-custom input:focus:not(:valid) {
  border-bottom: 3px solid orange;
}

.form-custom input::placeholder-shown + label {
  opacity: 0 !important;
  visibility: hidden !important;
  top: 20px !important;
  left: 20px !important;
}

.form-custom label {
  position: absolute;
  top: -15px;
  left: 0px;
  font-size: 20px;
  color: gray;
  font-weight: bold;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .form {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
      ),
      url("../../../Css/assets/images/sky.jpg");
  }
  .custome-form {
    width: 100%;
  }
  .custome-form input {
    width: 100%;
  }
}
