.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.intro-page {
  background-image: url("./Css/assets/images/hero.jpg");
  background-size: cover;
  height: 80vh;
  background-position: 68%;
}
.back-layer {
  background-color: #282c343c;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.font-3xl {
  font-size: 2rem;
}
.bg-3 {
  width: 90vw;
  height: fit-content;
}
.font-6xl {
  font-size: 3rem;
}
.height-16 {
  height: 10rem;
}

.text-title-responsive {
  font-size: 2rem;
}
@media (min-width: 892px ) {
  .text-title-responsive {
    font-size: 4rem;
  }
  .font-3xl {
    font-size: 4rem;
  }
  .font-6xl {
    font-size: 5rem;
  }
  .height-16 {
    height: 16rem;
  }
  .intro-page {
    background-position: right;
  }
  .bg-3 {
    width: 60vw;
  }
}