/* GLOBAL RULES */
* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  /* font-family:  auto; */
  font-family: 'Cinzel', serif;
}
body {
  /* font-family: cursive !important; */
  background-color: #ccc;
}

.container {
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-100 {
  height: 100vh;
}
.row .col-12 {
  width: 100%;
}
.row .col-6 {
  width: 50%;
}

